Source: targetd
Maintainer: MOZGIII <mike-n@narod.ru>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 9), python3-setproctitle, python3-yaml, python3-rtslib-fb, python3-lvm2
Standards-Version: 3.9.6
Homepage: http://github.com/agrover/targetd

Package: python3-targetd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-setproctitle, python3-yaml, python3-rtslib-fb, python3-lvm2
Description: Linux remote storage API daemon

